<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field"> 
   <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>
  
  <%= f.label :type %><br>

  <%= f.select :type_id, 
    options_from_collection_for_select(Type.all, :id, :typename, @house.type_id) %><br>
 
 <div class="row">
     <%= f.label :features %><br>
       <ul class="checkbox-grid">
    <%= collection_check_boxes :house, :feature_ids, Feature.all, :id, :features do |b| %>
    <li class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </li>
        <% end %>
</ul>
</div>
  <br>
 <%= f.label :blurb %> <br>
 <%= f.text_area :blurb,  size: "24x6" %>
   
    

  <br />



    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
    
  
  </div>
  

 <%= f.file_field :photo %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
