<p id="notice"><%= notice %></p>

<h1>Listing Houses</h1>
<%= form_tag(houses_path, method: :get) do %>
 

<fieldset class="search-field">
  <legend>Search Our Database</legend>
  <%= search_form_for @q do |f| %>
 

    <div class="field">
      <%= f.label "Type" %><br>
      <%= f.collection_check_boxes :type_id_in_any, Type.all, :id, :typename do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    
        <div class="field">
      <%= f.label "Feature" %><br>
      <%= f.collection_check_boxes :features_id_in_any, Feature.all, :id, :features do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</fieldset>
<% end %>



<table>
  <thead>
    <tr>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
       <td> <%= house.name %> </td>
       <td> <%= house.type_id %> </td>
       
        <td><%= link_to 'Show', house %></td>
        <%if user_signed_in? %>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
 <%if user_signed_in? %>
<%= link_to 'New House', new_house_path %> 
<% end %>

