<p id="notice"><%= notice %></p>
<br>
<h1>Find a House Package</h1>
<%= form_tag(houses_path, method: :get) do %>
 

<fieldset class="jumbotron">
  <legend>Search Our Database</legend>
  <%= search_form_for @q do |f| %>
 

    <div class="row"> 
     <%= f.label "Type" %><br>
    <ul class="checkbox-grid">
     
      <%= f.collection_check_boxes :type_id_in_any, Type.all, :id, :typename do |b| %>
        <li class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </li>
      <% end %>
      </ul>
    </div>
    <br>
    <br>
    
        <div class="row">
      <%= f.label "Feature" %><br>
       <ul class="checkbox-grid">
      <%= f.collection_check_boxes :features_id_in_any, Feature.all, :id, :features do |b| %>
        <li class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</fieldset>
<% end %>



<table class="table table-hover" >
  <thead>
    <tr>
      <th>House Name </th>
      <th>Layout</th>
      <th>Type</th>
      <th>Features</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
       <td> <%= house.name %> </td>
      <td> <%= image_tag house.photo.url(:small) %></td>
       <td> <%= house.type.typename %> </td>
       <td> <% house.features.each do |o| %>
            <%= o.features  %>
            <br>
            <%end %>
       
       </td>
        <td><%= link_to 'Show', house %></td>
        <%if user_signed_in? %>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
 <%if user_signed_in? %>
<%= link_to 'New House', new_house_path %> 
<% end %>

