<p id="notice"><%= notice %></p>

<h1>Listing Houses</h1>
<%= form_tag(houses_path, method: :get) do %>
 <%= label_tag :type %><br>
 
     <% Type.all.each do |type| %>
  <%= check_box_tag "house[type_ids][]", type.id %>
 <%=type.typename%>
  <br />
<% end %>
<%= label_tag :feature %> <br>
     <% Feature.all.each do |feature| %>
  <%= check_box_tag "house[feature_ids][]", feature.id %>
 <%=feature.features%>
  <br />
<% end %>

 <%= submit_tag 'Search', name: nil %>
<% end %>




<table>
  <thead>
    <tr>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
       <td> <%= house.name %> </td>
       <td> <%= house.type_id %> </td>
       
        <td><%= link_to 'Show', house %></td>
        <%if user_signed_in? %>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
 <%if user_signed_in? %>
<%= link_to 'New House', new_house_path %> 
<% end %>

