<p id="notice"><%= notice %></p>

 <div class="container">
  <div class="jumbotron">
    <h1> <%= @house.name %></h1>
    <p><%= @house.blurb %> </p>
  </div>

</div>
 
  

<div class='row'>
  <div class='col-md-4'>
  
    <%= image_tag @house.photo.url, class: 'img-fluid' %>
  
  </div>
  <div class='col-md-4'>
  <br>
  </div>
  <div class='col-md-4'>
  
    <h2> Features </h2>
    <% @house.features.each do |o| %>
            <%= o.features  %>
            <br>
            <%end %>
      <h2> Type </h2>
      <%= @house.type.typename %>
       
     
  </div>

</div>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
